@import 'src/theme/style.scss';

.select {
  color: $blue;
  letter-spacing: normal;
  font-size: large;

  // font-family: 'lato', sans-serif;
  // box-sizing: border-box;
  // line-height: 1;
  // margin: 1rem;
  // text-decoration: none;

  // .autocomplete-dropdown-container {
  //   background: white;
  //   position: relative;
  //   z-index: 10;
  // }

  // .suggestion-item--active {
  //   background: grey;
  // }
}
