@import 'src/theme/style.scss';

.topic {
  margin: 22px 7vw;
  padding: 1rem;
  font-size: large;
  box-shadow: 0 0 5px 0 white inset, 0 0 7px 4px white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: left;
}

.button {
  border: 0;
  font: inherit;
  vertical-align: baseline;
  cursor: pointer;
  text-decoration: underline;
  text-align: left;
  letter-spacing: 0.4rem;
  background-color: transparent;
  color: $blue;
}
