// n is number of stars required
@function multiple-box-shadow($n) {
  $value: '#{random(2000)}px #{random(2000)}px #FFF';
  @for $i from 2 through $n {
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF';
  }
  @return unquote($value);
}

$shadows-small: multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big: multiple-box-shadow(100);

html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

.stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 50s linear infinite;

  &:after {
    content: ' ';
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
  }
}

.stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar 100s linear infinite;

  &:after {
    content: ' ';
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
  }
}

.stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation: animStar 150s linear infinite;

  &:after {
    content: ' ';
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
  }
}

.weather {
  position: absolute;
  top: 6.5rem;
  left: 0;
  right: 0;

  color: #fff;
  text-align: center;
  font-family: 'lato', sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 0.4rem;

  span {
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .loading {
    margin: 20px;
    font-size: 30px;
  }
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

// Basic Button Style
.temperature {
  color: $yellow;
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid $blue;
    border-radius: 0.6em;
    cursor: pointer;
    font-weight: 400;
    line-height: 1;
    margin: 0.5rem;

    padding: 1em 2.8em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;

    box-shadow: 0 0 10px 0 $blue inset, 0 0 10px 4px $blue;
    &:hover,
    &:focus {
      color: #fff;
      outline: 0;
    }

    &:hover {
      border-color: $blue;
      color: #fff;
      box-shadow: 0 0 40px 40px $blue inset, 0 0 0 0 $blue;
      transition: all 150ms ease-in-out;
    }
  }
}

.search {
  font-family: 'lato', sans-serif;
  box-sizing: border-box;
  line-height: 1;
  margin: 1rem;
  text-decoration: none;

  .autocomplete-dropdown-container {
    background: white;
    position: relative;
    z-index: 10;
  }

  .suggestion-item--active {
    background: grey;
  }
}
